# Virtual Environment
.venv/
venv/
env/

# Environment Variables & Secrets
.env
*.env

# Python Bytecode & Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# macOS / OS files
.DS_Store

# IDEs
.vscode/
.idea/
